.image {
  width: calc(100% - 15px);
  height: auto;
}

.container {
  display: flex;
  align-items: center;
}

.item {
  width: 100%;
}

.heading {
  padding: 0;
  margin: 0 0 30px;

  color: #222222;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -1px;
}

.description {
  max-width: 444px;

  padding: 0;
  margin: 0;

  color: rgba(34, 34, 34, .7);
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
}

.description:not(:last-child) {
  margin-bottom: 20px;
}

.author {
  margin-top: 60px;
}
